body {
	background-color: #91D9BB;
	font-family: ;
	margin: 0;
}
footer, header {
	width: 100%;
	height: 40px;
	background-color: #1D714D;
}
#intro img{
	display: block;
    margin: auto;
    border: 3px solid #1D714D;
}